<!-- <p>nav works!</p> -->
<div class="web">
    <div>
        <nav>
            <a href="" class="logos">
                <img src="./assets/iconos/gameplanet.jpg" alt="">
            </a>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Catálogo</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>
        </nav>
        <div class="contacto">
            <div class="email">big_boss@gmail.com</div>
            <div>
                <a href="" class="logos">
                    <img src="./assets/iconos/zone.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>